services:
  hamhung-minion:
    image: opennms/minion:33.0.2
    container_name: hamhung-minion
    hostname: hamhung-minion-01
    environment:
      MINION_ID: hamhung-minion-01
      MINION_LOCATION: Hamhung
      OPENNMS_BROKER_URL: tcp://pyu-activemq:61616
      OPENNMS_HTTP_URL: http://pyu-horizon:8980/opennms
      OPENNMS_HTTP_USER: admin
      OPENNMS_HTTP_PASS: admin
      OPENNMS_BROKER_USER: admin
      OPENNMS_BROKER_PASS: admin
    command: ["-c"]
    volumes:
      - hamhung-minion-data:/opt/minion-data
    networks:
      - hamhung-campus
      - horizon_pyu-main
    depends_on:
      - hamhung-router

  hamhung-router:
    image: networkboot/dhcpd
    container_name: hamhung-router
    hostname: hamhung-rtr-01
    networks:
      hamhung-campus:
        ipv4_address: 192.168.20.1
    command: eth0

  hamhung-web:
    image: nginx:alpine
    container_name: hamhung-web
    hostname: hamhung-web-server
    networks:
      hamhung-campus:
        ipv4_address: 192.168.20.10
    volumes:
      - ./hamhung-web-content:/usr/share/nginx/html:ro

  hamhung-dns:
    image: strm/dnsmasq
    container_name: hamhung-dns
    hostname: hamhung-dns-server
    networks:
      hamhung-campus:
        ipv4_address: 192.168.20.53
    cap_add:
      - NET_ADMIN

volumes:
  hamhung-minion-data:

networks:
  hamhung-campus:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.20.0/24
          gateway: 192.168.20.254
  horizon_pyu-main:
    external: true
